<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Hello World - Input Form</title>
    <link rel="stylesheet"
          th:href="@{/css/demo.css}"/>
</head>

<body>
    <!--<h2>Form Version One</h2>
    <form th:action="@{/processForm}" method="GET">
        <input type="text" name="studentName"
        placeholder="What's your name?" />
        <input type="submit" />
    </form>
    <br><br>-->
    <h2>Form Version Three</h2>
    <form th:action="@{/processFormVersionThree}" method="GET">
        <input type="text" name="studentName"
               placeholder="What's your name?" />
        <input type="submit" />
    </form>
</body>

</html>